<h1>CAREER</h1>
<p>DAVE MELKONIAN</p>
<ul class="timeline">
	<li class="text-left">
        <time datetime="1985-09">Jan 2016 - Present</time>
        Dewpoint
    </li>
	<li class="text-left">
        <time datetime="1985-09">June 2015 - May 2016</time>
        Meridian Health
    </li>
	<li class="text-left">
        <time datetime="1985-09">October 2011 - June 2015</time>
        Optum
    </li>   
	<li class="text-left">
        <time datetime="1985-09">August 2005 - October 2011</time>
        Blue Cross Blue Shield of Michigan
    </li>
</ul>