<!-- Start Timeline -->
<section id= "timeline">
    <ul class= "line">
      <li>
        <div class="cont">
          <h3>Dewpoint</h3>
          <time>Jan 2016 - Present</time>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
        </div>
      </li>
      <li>
        <div class="cont">
            <h3>Meridian Health</h3>
            <time>Jan 2016 - Present</time>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
      </li>
      <li>
        <div class="cont">
            <h3>Optum</h3>
            <time>Jan 2016 - Present</time>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
      </li>
      <li>
        <div class="cont">
            <h3>Optum</h3>
            <time>Jan 2016 - Present</time>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
      </li>
    </ul>
   
  </section>
  <!-- End Timeline -->